<%- include('../partials/header') %>
    <%- include('../partials/menu') %>
        <div class="container">
            <div class="card">
                <form action="" method="post" enctype="multipart/form-data">
                    <div class="card-header">
                        <h1>FORM</h1>
                    </div>
                    <div class="card-body">
                        <div class="mb-3 row">
                            <label for="title" class="col-sm-2 col-form-label">Title</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="title" name="title"
                                    value="<%= data.title %>" required>
                            </div>
                        </div>

                        <div class="mb-3 row">
                            <label for="description" class="col-sm-2 col-form-label">Description</label>
                            <div class="col-sm-10">
                                <textarea class="form-control" id="description" name="description"
                                    rows="5"><%= data.description %></textarea>
                            </div>
                        </div>

                        <div class="mb-3 row">
                            <label for="category" class="col-sm-2">Category</label>
                            <div class="col-sm-10">
                                <select class="form-control" id="category" name="category">
                                    <option value="">--Pilih Category--</option>
                                    <% categories.forEach(item=> { %>
                                        <option value="<%= item.id %>" <%= data.category==item.id ? " selected" : "" %>>
                                            <%= item.name %>
                                        </option>
                                        <% }) %>
                                </select>
                            </div>
                        </div>

                        <div class="mb-3 row">
                            <label for="seller" class="col-sm-2">Seller</label>
                            <div class="col-sm-10">
                                <select class="form-control" id="seller" name="seller">
                                    <option value="">--Pilih Seller--</option>
                                    <% users.forEach(item=> { %>
                                        <option value="<%= item.id %>" <%= data.seller==item.id ? " selected" : "" %>>
                                            <%= item.fullname %>
                                        </option>
                                        <% }) %>
                                </select>
                            </div>
                        </div>

                        <div class="mb-3 row">
                            <label for="price" class="col-sm-2 col-form-label">Price</label>
                            <div class="col-sm-10">
                                <input type="number" class="form-control" id="price" name="price"
                                    value="<%= data.price %>">
                            </div>
                        </div>

                        <div class="mb-3 row">
                            <label for="approved" class="col-sm-2 col-form-label">Approved</label>
                            <div class="col-sm-10">
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="approved" id="no" value="false"
                                        <%= !data.approved ? 'checked' : '' %>>
                                    <label class="form-check-label" for="no">No</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="approved" id="yes" value="true"
                                        <%= data.approved ? 'checked' : '' %>>
                                    <label class="form-check-label" for="yes">Yes</label>
                                </div>
                            </div>
                        </div>

                        <div class="mb-3 row">
                            <label for="picture1" class="col-sm-2 col-form-label">Picture 1</label>
                            <div class="col-sm-10">
                                <input type="file" class="form-control" id="picture1" name="picture">
                            </div>
                        </div>
                        <div class="mb-3 row">
                            <label for="picture2" class="col-sm-2 col-form-label">Picture 2</label>
                            <div class="col-sm-10">
                                <input type="file" class="form-control" id="picture2" name="picture">
                            </div>
                        </div>
                        <div class="mb-3 row">
                            <label for="picture3" class="col-sm-2 col-form-label">Picture 3</label>
                            <div class="col-sm-10">
                                <input type="file" class="form-control" id="picture3" name="picture">
                            </div>
                        </div>
                        <% if(data.pictures.length > 0) { data.pictures.forEach(picture => { %>
                            <img src="/images/ads/<%= picture %>" alt="" width="100" height="auto">
                            <% }) } %>
                    </div>
                    <div class="card-footer">
                        <button type="submit" class="btn btn-info"><i class="fa-solid fa-floppy-disk"></i></button>
                        <a href="/ads" class="btn btn-warning"><i class="fa-solid fa-rotate-left"></i></a>
                    </div>
                </form>
            </div>
        </div>

        <%- include('../partials/footer') %>